<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<!--
  数据库相对路径
  -->
	<connectionStrings>
		<add name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;data source={0}" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<appSettings>
		<add key="AccessPath" value="~/database/system.accdb"/>
	</appSettings>

  
</configuration>

