@import url(widgets.css);

* {
    margin 0px;
}

body {
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    margin: 0px;
    padding-top: 10px;
    padding-left: 10px;
}

ul {
    padding-left: 0px;
    list-style: square;
}

li {
    
}

a:link 
{
    display:block;
	color: #1976d2;
	text-decoration: none;
	padding:5px;
	transition: all 0.5s;
}
a:visited {
	color: #1976d2;
	text-decoration: none;
}
a:hover {
	color: orangered;
	background-color:White;
	text-decoration: none;
}
a:active {
	color: #FF0000;
	text-decoration: none;
}